In [37]:
import pandas as pd
import numpy as np
import re

In [38]:
file_name = "Disease_Data.csv"

In [39]:
df = pd.read_csv(file_name, sep = ';')

pd.set_option('display.max_columns', None)
df.head(5)

/var/folders/gb/k5_c79td0fl5rm4xf6x4ytgr0000gp/T/ipykernel_59459/3608972064.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_name, sep = ';')

,RowId,YearStart,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Class,Topic,Question,Data_Value_Type,Data_Value_Unit,Data_Value,Data_Value_Alt,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,Break_Out_Category,Break_Out,ClassId,TopicId,QuestionId,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationId,Geolocation
0,NVSS~2000~1~NV001~OVR01~Age-Standardized,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Age-Standardized,"Rate per 100,000","508,2","508,2",NaN,NaN,"508,2","508,2",Overall,Overall,C1,T1,NV001,AgeStdz,BOC01,OVR01,1,POINT (-86.63186076 32.84057112)
1,NVSS~2000~1~NV001~OVR01~Crude,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Crude,"Rate per 100,000","525,6","525,6",NaN,NaN,"525,6","525,6",Overall,Overall,C1,T1,NV001,Crude,BOC01,OVR01,1,POINT (-86.63186076 32.84057112)
2,NVSS~2000~1~NV001~GEN01~Crude,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Crude,"Rate per 100,000","514,9","514,9",NaN,NaN,"514,9","514,9",Gender,Male,C1,T1,NV001,Crude,BOC02,GEN01,1,POINT (-86.63186076 32.84057112)
3,NVSS~2000~1~NV001~GEN01~Age-Standardized,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Age-Standardized,"Rate per 100,000","550,4","550,4",NaN,NaN,"550,4","550,4",Gender,Male,C1,T1,NV001,AgeStdz,BOC02,GEN01,1,POINT (-86.63186076 32.84057112)
4,NVSS~2000~1~NV001~GEN02~Age-Standardized,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Age-Standardized,"Rate per 100,000","471,7","471,7",NaN,NaN,"471,7","471,7",Gender,Female,C1,T1,NV001,AgeStdz,BOC02,GEN02,1,POINT (-86.63186076 32.84057112)

In [40]:
df.Data_Value_Unit.unique()

array(['Rate per 100,000'], dtype=object)

In [41]:
df.Break_Out.unique()

array(['Overall', 'Male', 'Female', '18-24', '25-44', '45-64', '65', '35',
       '75', 'Non-Hispanic White', 'Non-Hispanic Black', 'Hispanic',
       'Other'], dtype=object)

In [42]:
df.BreakOutId.unique()

array(['OVR01', 'GEN01', 'GEN02', 'AGE01', 'AGE04', 'AGE05', 'AGE06',
       'AGE07', 'AGE08', 'RAC01', 'RAC02', 'RAC04', 'RAC07'], dtype=object)

In [43]:
df.Break_Out_Category.value_counts()

Break_Out_Category
Race       69888
Age        52416
Gender     34944
Overall    17472
Name: count, dtype: int64

In [44]:
df.YearStart.value_counts()

YearStart
2000    8320
2011    8320
2019    8320
2018    8320
2017    8320
2016    8320
2015    8320
2014    8320
2013    8320
2012    8320
2010    8320
2001    8320
2009    8320
2008    8320
2007    8320
2006    8320
2005    8320
2004    8320
2003    8320
2002    8320
2020    8320
Name: count, dtype: int64

In [45]:
df.isna().sum()

RowId                              0
YearStart                          0
LocationAbbr                       0
LocationDesc                       0
DataSource                         0
PriorityArea1                 131040
PriorityArea2                 174720
PriorityArea3                 131040
PriorityArea4                 174720
Class                              0
Topic                              0
Question                           0
Data_Value_Type                    0
Data_Value_Unit                    0
Data_Value                     31630
Data_Value_Alt                     0
Data_Value_Footnote_Symbol    143090
Data_Value_Footnote           143090
Low_Confidence_Limit           31630
High_Confidence_Limit          31630
Break_Out_Category                 0
Break_Out                          0
ClassId                            0
TopicId                            0
QuestionId                         0
Data_Value_TypeID                  0
BreakOutCategoryId                 0
BreakOutId                         0
LocationId                         0
Geolocation                     3360
dtype: int64

In [46]:
df.dtypes

RowId                          object
YearStart                       int64
LocationAbbr                   object
LocationDesc                   object
DataSource                     object
PriorityArea1                  object
PriorityArea2                 float64
PriorityArea3                  object
PriorityArea4                 float64
Class                          object
Topic                          object
Question                       object
Data_Value_Type                object
Data_Value_Unit                object
Data_Value                     object
Data_Value_Alt                 object
Data_Value_Footnote_Symbol     object
Data_Value_Footnote            object
Low_Confidence_Limit           object
High_Confidence_Limit          object
Break_Out_Category             object
Break_Out                      object
ClassId                        object
TopicId                        object
QuestionId                     object
Data_Value_TypeID              object
BreakOutCategoryId             object
BreakOutId                     object
LocationId                      int64
Geolocation                    object
dtype: object

In [47]:
df = df.drop(df[df['Break_Out_Category'] == 'Race'].index) 
df = df.drop(df[df['Break_Out_Category'] == 'Gender'].index) 
df = df.drop(df[df['Data_Value_Type'] == 'Age-Standardized'].index)

In [48]:
df = df.drop(df[df['Data_Value'] == ''].index) 
df = df.drop(df[df['Data_Value_Alt'] == ''].index) 
df.dropna(subset=['Data_Value'], inplace=True)

In [49]:
df['Data_Value'] = df['Data_Value'].str.replace(',','')
df['Data_Value_Alt'] = df['Data_Value_Alt'].str.replace(',','')

df['Data_Value'] = df['Data_Value'].astype(float)
df['Data_Value_Alt'] = df['Data_Value_Alt'].astype(float)

In [50]:
df.shape

(49459, 30)

In [51]:
columns = df.columns.to_list()
columns

['RowId',
 'YearStart',
 'LocationAbbr',
 'LocationDesc',
 'DataSource',
 'PriorityArea1',
 'PriorityArea2',
 'PriorityArea3',
 'PriorityArea4',
 'Class',
 'Topic',
 'Question',
 'Data_Value_Type',
 'Data_Value_Unit',
 'Data_Value',
 'Data_Value_Alt',
 'Data_Value_Footnote_Symbol',
 'Data_Value_Footnote',
 'Low_Confidence_Limit',
 'High_Confidence_Limit',
 'Break_Out_Category',
 'Break_Out',
 'ClassId',
 'TopicId',
 'QuestionId',
 'Data_Value_TypeID',
 'BreakOutCategoryId',
 'BreakOutId',
 'LocationId',
 'Geolocation']

In [8]:
df.isna().sum()

claim_identifier                                   0
patient_identifier                                 0
payer_member_identifier                            0
claim_status_code                                  0
claim_addressed_date                               0
                                               ...
procedure_code_modifier_and_description_24    661645
procedure_date_25                             661645
procedure_code_25                             661645
procedure_code_type_25                             0
procedure_code_modifier_and_description_25    661645
Length: 164, dtype: int64

In [52]:
df.drop_duplicates()

,RowId,YearStart,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Class,Topic,Question,Data_Value_Type,Data_Value_Unit,Data_Value,Data_Value_Alt,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,Break_Out_Category,Break_Out,ClassId,TopicId,QuestionId,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationId,Geolocation
1,NVSS~2000~1~NV001~OVR01~Crude,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Crude,"Rate per 100,000",5256.0000,5256.0000,NaN,NaN,"525,6","525,6",Overall,Overall,C1,T1,NV001,Crude,BOC01,OVR01,1,POINT (-86.63186076 32.84057112)
6,NVSS~2000~1~NV001~AGE01~Crude,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Crude,"Rate per 100,000",54.0000,54.0000,NaN,NaN,"5,3",8,Age,18-24,C1,T1,NV001,Crude,BOC03,AGE01,1,POINT (-86.63186076 32.84057112)
7,NVSS~2000~1~NV001~AGE04~Crude,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Crude,"Rate per 100,000",382.0000,382.0000,NaN,NaN,"38,1","38,3",Age,25-44,C1,T1,NV001,Crude,BOC03,AGE04,1,POINT (-86.63186076 32.84057112)
8,NVSS~2000~1~NV001~AGE05~Crude,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Crude,"Rate per 100,000",2734.0000,2734.0000,NaN,NaN,"273,4","273,4",Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,1,POINT (-86.63186076 32.84057112)
9,NVSS~2000~1~NV001~AGE06~Crude,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Crude,"Rate per 100,000",2.4428,2.4428,NaN,NaN,"2.442,8","2.442,8",Age,65,C1,T1,NV001,Crude,BOC03,AGE06,1,POINT (-86.63186076 32.84057112)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174707,NVSS~2020~59~NV008~AGE04~Crude,2020,US,United States,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Stroke,Hemorrhagic stroke mortality rate among US adu...,Crude,"Rate per 100,000",19.0000,19.0000,NaN,NaN,"1,9","1,9",Age,25-44,C1,T6,NV008,Crude,BOC03,AGE04,59,NaN
174708,NVSS~2020~59~NV008~AGE05~Crude,2020,US,United States,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Stroke,Hemorrhagic stroke mortality rate among US adu...,Crude,"Rate per 100,000",99.0000,99.0000,NaN,NaN,"9,9","9,9",Age,45-64,C1,T6,NV008,Crude,BOC03,AGE05,59,NaN
174709,NVSS~2020~59~NV008~AGE06~Crude,2020,US,United States,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Stroke,Hemorrhagic stroke mortality rate among US adu...,Crude,"Rate per 100,000",439.0000,439.0000,NaN,NaN,"43,9","43,9",Age,65,C1,T6,NV008,Crude,BOC03,AGE06,59,NaN
174710,NVSS~2020~59~NV008~AGE07~Crude,2020,US,United States,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Stroke,Hemorrhagic stroke mortality rate among US adu...,Crude,"Rate per 100,000",188.0000,188.0000,NaN,NaN,"18,8","18,8",Age,35,C1,T6,NV008,Crude,BOC03,AGE07,59,NaN
174711,NVSS~2020~59~NV008~AGE08~Crude,2020,US,United States,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Stroke,Hemorrhagic stroke mortality rate among US adu...,Crude,"Rate per 100,000",752.0000,752.0000,NaN,NaN,"75,2","75,2",Age,75,C1,T6,NV008,Crude,BOC03,AGE08,59,NaN